<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>

    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="365.00:00:00" />
    </staticContent>

    <rewrite>
      <rules>
        <rule name="React SPA Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
      <outboundRules>
        <rule name="No cache for entry documents">
          <match serverVariable="RESPONSE_Cache-Control" pattern=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="/(index\.html|robots\.txt|sitemap\.xml|google[^/]*\.html)$" />
          </conditions>
          <action type="Rewrite" value="no-cache, no-store, must-revalidate" />
        </rule>
        <rule name="No cache pragma for entry documents">
          <match serverVariable="RESPONSE_Pragma" pattern=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="/(index\.html|robots\.txt|sitemap\.xml|google[^/]*\.html)$" />
          </conditions>
          <action type="Rewrite" value="no-cache" />
        </rule>
      </outboundRules>
    </rewrite>
  </system.webServer>
</configuration>
